* {
    box-sizing: border-box; 
}
body, html {
    height: 100%; 
    font-size: 16px; 
    background-color: #f5f5f5; 
}
/*--- 
FRONTPAGE HERO MYND - HEADER 
---*/
.fp-header {
    background-image: url("../images/desktophero.png"); 
    height: 100vh; 
    width: auto; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    margin-bottom: 2.5rem; 
}
header h1.mh1 {
    display: none;
}
/*--- 
STANDARD NAVIGATION 
---*/
nav {
    width: 100%;
    height: 90px; 
    background-color: #e5e5e5; 
    display: flex; 
    justify-content: center;
    margin-bottom: 2.5rem;
    position: fixed;
    z-index: 10;  
}
section.nav-container {
    width: 95%; 
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
}
nav img {
    height: 65px; 
    width: auto;
}
div.right-nav-section {
    width: 58.33%; 
}
div.right-nav-section h3{
    margin: 0;  
}
div.right-nav-section ul{
    display: flex; 
    justify-content: space-between; 
}
/*---
Desktop dropdown nav virkni (bara html & css)
---*/
ul.nav-list li{
    display: block;
	float: left;
	padding: 1rem;
	position: relative;
	text-decoration: none;
    transition-duration: 0.5s;
}
ul.dropdown-list {
	background: #8c288c;
	visibility: hidden;
    opacity: 0;
    width: auto; 
    min-width: 5rem;
	position: absolute;
    margin-top: 1rem;
	left: 0;
    display: none;
    overflow: auto;  
}
ul.nav-list li:hover > ul.dropdown-list,
ul.naf-list li:focus-within > ul.dropdown-list,
ul.dropdown-list:hover,
ul.dropdown-list:focus {
   visibility: visible;
   opacity: 1;
   display: block;
}
ul.nav-list li ul.dropdown-list li {
	clear: both;
    width: 100%;
}
ul.dropdown-list li:hover {
    background-color: #c4c4c4;
}
/*---
Search input virkni
---*/
#mySearch {
    position: absolute;
    top: 90px;
    right: -25px;  
    width: 1%; 
    height: 50px;
    padding-left: 16px;
    font-size: 16px;
    transition: width 0.4s ease-in-out;   
}
#mySearch:focus {
    width: 100%; 
    right: 0; 
}
/*--- 
HAMBORGARA MENU 
---*/
section.hamburger-menu-container {
    display: none; 
}
.burger-container {
    position: absolute; 
    right: 25px; 
    top:25px; 
    cursor: pointer; 
    z-index: 1000; 
}
.burger{
    width: 35px;
    height: 5px;
    background-color: #222;
    margin: 5px 0;
    border-radius: 5px; 
    transition: all 0.8s; 
}
/* Rotate first bar */
.change1 {
    transform: rotate(-45deg) translate(-8px, 6px) ;
    background-color: #f5f5f5; 
}
/* Fade out the second bar */
.change2 {
    opacity: 0;
}
/* Rotate last bar */
.change3 {
    transform: rotate(45deg) translate(-8px, -8px) ;
    background-color: #f5f5f5; 
}
.mobile-menu {
    background-color: #8c288c;
    position: absolute; 
    width: 0%; 
    height: 100%; 
    top: 0px; 
    right: 0px; 
    visibility: hidden; 
    transition: all 0.8s ease-in-out; 
}
.mobile-menu ul {
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    margin-top: 120px; 
}
.mobile-menu li {
    cursor: pointer; 
    margin-bottom: 0.5rem;
}
.mobile-menu h3 {
    color: #f5f5f5; 
    margin-bottom: 0.5rem; 
    font-weight: bold;  
}
.mdropdown-content {
    margin-bottom: 1rem; 
}
.mdropdown-content h4 {
    margin-bottom: 0.5rem; 
}
.show-menu {
    width: 100%; 
    height: 100vh; 
    visibility: visible;
    overflow-y: scroll;
    overflow-x: hidden;
    z-index: 16;  
}
/*---
Mobile dropdown nav virkni
---*/
.mdropdown-content {
    display: none; 
}
.show-mdropdown {
    display: block; 
}
/*---
Mobile search input virkni
---*/
#myMobileSearch {
    position: absolute;
    right: -25px;  
    width: 1%; 
    height: 50px;
    padding-left: 16px;
    font-size: 16px;
    transition: width 0.4s ease-in-out;   
}
#myMobileSearch:focus {
    width: 100%;
    right: 0; 
}
/*--- 
FRONT PAGE MAIN CONTENT 
---*/
main {
    width: 95%; 
    height: auto; 
    margin: 0 auto;  
}
section.table-news {
    display: flex;  
    justify-content: center; 
    border-bottom: 2px solid #c4c4c4; 
    margin-bottom: 2.5rem; 
    padding-bottom: 2.5rem; 
}
.fp-content-container {
    padding: 0; 
}
/*--- 
FRONT PAGE TÍMATAFLA 
---*/
.carousel-container {
    position: relative;
    overflow: hidden; 
}
#carousel-slides-container {
    width: 340px; 
    display: flex; 
    position: relative;
}
div.timetable-container {
    width: 50%; 
    height: auto; 
    display: flex; 
    align-items: center; 
    flex-direction: column;  
}
.timeTableContainer_2 {
    width: 340px; 
    display: flex;
    flex-direction: column;
    align-items: center; 
}
.timetable {
    display: flex; 
    flex-direction: column; 
    width: 100%; 
    align-items: center;
}
.timetable .class-type {
    display: flex; 
    width: 100%;
    margin-bottom: 1rem; 
}
.timetable .class-type p {
    margin: 0 1.5rem 0 0.5rem; 
}
.timetable .day-selectors {
    display: flex; 
    margin-bottom: 0.5rem; 
    width: 100%;   
}
.carousel-takkar {
    position: absolute;
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.changeDayBtn {
    background-color: #e5e5e5;
    padding: 8px 16px;
    cursor: pointer; 
    font-family: 'Lato', sans-serif;
    line-height: 1.5rem;
    font-size: 1rem;
    color: #222;   
    border: none; 
    z-index: 9;
}
.todays-classes {
    display: flex;
    flex-direction: column;
    width: 340px;
    align-items: flex-start;
}
div.single-class {
    display: flex; 
    align-items: center; 
    margin-top: 1rem; 
    justify-content: space-around;
}
.single-class p {
    margin: 0 1.5rem; 
}
/*--- 
FRONT PAGE TILKYNNINGAR 
---*/
div.news-container {
    width: 50%; 
    height: auto; 
    display: flex; 
    flex-direction: column; 
    align-items: center; 
}
.news-container .news {
    display: flex; 
    flex-direction: column; 
    width: 100%; 
    margin-bottom: 2rem;
}
.news article {
    display: flex; 
    border-bottom: 1px solid #c4c4c4;
}
.news article span {
    padding: 1rem 0;
    border-right: 1px solid #c4c4c4;
    width: 15%;   
}
.news article p {
    padding: 1rem 0 1rem 1rem;
}
/*--- 
FRONT PAGE VINSÆLAST
---*/
div.most-popular {
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    height: auto; 
}
.most-popular .class-cards {
    display: flex; 
    justify-content: space-between; 
    margin: 0 auto; 
}
.classCard {
    width: 30%; 
    height: auto; 
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    text-align: center;
    margin-bottom: 2rem;
}
.classCard img {
    width: 360px; 
    height: auto;
    margin-bottom: 1.5rem;  
}
/*---
NÁMSKEIÐ MAIN CONTENT
---*/
.namskeid-content-container {
    padding-top: 122px;
}
section.namskeid-container {
    display: flex; 
    flex-direction: column; 
}
section.namskeid-container div.class-cards {
    display: flex; 
    justify-content: space-between; 
    margin-bottom: 2rem; 
    flex-wrap: wrap; 
}
.namskeid-filter {
    display: flex;
    margin-bottom: 1.5rem; 
}
.namskeid-filter h3 {
    margin-right: 1.5rem; 
}
ul.namskeid-mfilter {
    display: none; 
}
#myDropdown4 {
    background-color: #8c288c; 
    border-radius: 5px; 
    padding: 1rem; 
}
/*---
VALIÐ NÁMSKEIÐ MAIN CONTENT
---*/
.valid-content-container {
    display: flex;
    justify-content: space-between; 
    padding-top: 122px; 
}
section.valid-container{
    width: 70%; 
}
section.valid-container img {
    width: 360px; 
    height: auto;
    float: left; 
    margin: 0 1rem 0.5rem 0; 
}
section.valid-container p {
    margin: 0 0.5rem 1.5rem;
}
section.valid-container a {
    font-family: 'Lato', sans-serif;
    line-height: 1.5rem;
    font-size: 1rem;
    font-weight: normal; 
    color: #222; 
    text-decoration-line: underline;  
}
section.valid-container div.valid-linkar {
    display: flex;
    flex-direction: column;
    align-items: center;
}
section.valid-container div.valid-linkar p {
    display: inline-block; 
}
div.valid-linkar button.signup {
    width: 15rem; 
    height: 3.75rem; 
    font-size: 1.5rem; 
    line-height: 2rem; 
    margin: 1.25rem 0; 
}
aside.side-menu {
    width: 25%;
    display: flex; 
    flex-direction: column; 
    align-items: center; 
}
/*---
TÍMATAFLA MAIN CONTENT
---*/
.timatafla-content-container {
    padding-top: 122px;
}
div.timatafla-filter {
    display: flex; 
}
div.timatafla-filter a {
    margin-right: 1.5rem; 
}
section.vika-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;   
}
section.vika-container div.dagur {
    width: 10rem; 
    height: auto; 
}
section.vika-container div.dagur p {
    text-align: center; 
}
div.dagur div.tími {
    background-color: #8c288c;  
    border-radius: 5px; 
    margin: 0.5rem 0; 
    padding: 0.5rem; 
}
div.dagur div.tími p {
    color: #f5f5f5; 
    text-align: center; 
}
/*---
STANDARD FOOTER
---*/
footer {
    background-color: #e5e5e5;
    width: 100%; 
    height: auto; 
    margin-top: 5rem; 
}
footer section.footer-container {
    height: auto; 
    padding: 2.5rem 0; 
    display: flex;
    justify-content: space-between;   
}
.footer-contact {
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    margin: 0 auto; 
    width: 33.33%;
    height: auto;  
}
.footer-logo {
    width: 33.33%;
    height: auto;
    display: flex; 
    justify-content: center;   
}
.footer-logo img{
    width: 70%; 
    height: auto;
}
.social-media {
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    margin: 0 auto;
    width: 33.33%;
    height: auto;   
}
/*---
MOBILE FOOTER 
---*/
section.mfooter-container {
    display: none; 
    padding: 2rem 0;
}
.mfooter-logo {
    width: 45%; 
    height: auto;
    display: flex;
    justify-content: center; 
    align-items: center; 
}
.mfooter-logo img {
    width: 45%; 
    height: auto;
    color: #8c288c;  
}
.msocial-media {
    width: 45%; 
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center; 
}
.msocial-media img {
    width: 35%; 
    height: auto;
    color: #8c288c;  
}
.mfooter-contact {
    width: 95%;
    display: flex; 
    flex-direction: column; 
    align-items: center;  
}
/*---
MEDIA QUERIES 
---*/
@media screen and (max-width: 600px) {
    body, html {
        overflow-x: hidden; 
    }
    header.fp-header {
        height: 35vh; 
    }
    header.fp-header h1.mh1 {
        display: inline-block; 
        top: 155px;
        font-size: 3rem;
    }
    header.fp-header h1.dh1 {
        display: none; 
    }
/*Hér kemur breytingin í hamborgara nav*/
    section.nav-container {
        display: none; 
    }
    section.hamburger-menu-container {
        display: flex;
        align-items: center; 
    }
    i.fas.fa-search {
        color: #f5f5f5; 
    }
    #mySearch {
        display: none; 
    }
/*Tímatafla og tilkynningar*/    
    section.table-news {
        flex-direction: column; 
        width: 100%
    }
    .timetable-container {
        margin: 0 auto 32px;
        width: 100% !important;
    }
    .timetable .class-type {
        justify-content: center; 
    }
    .timetable .day-selectors {
        justify-content: center; 
    }
    .single-class p {
        margin: 0 1rem;
    }
    .news-container {
        width: 95% !important; 
    }
    .carousel-container {
        width: 340px;
        margin: 0 auto;
    }
/*Vinsælast*/
    .class-cards {
        display: flex; 
        flex-direction: column; 
        align-items: center; 
    }
    .classCard {
        width: 95%; 
        margin-bottom: 32px;
    }
/*Tímatafla - skipta í mobile tímatöflu með JS*/
    div.timatafla-filter {
        display: none; 
    }
    section.vika-container {
        display: none; 
    }
    .timetable .class-type p {
        margin: 0 1rem 0 0.5rem;
    }
/*Námskeið filter fer í mobile*/
    div.namskeid-filter {
        display: none; 
    }
    ul.namskeid-mfilter {
        display: inline-block; 
    }
    /*Mobile footer*/
    .footer-container, .footer-contact, .footer-logo, .social-media {
        display: none !important; 
    }
    section.mfooter-container {
        display: flex; 
        flex-wrap: wrap; 
        justify-content: center; 
    }
    /*Valið námskeið aside*/
    aside.side-menu {
        display: none; 
    }
    section.valid-container {
        width: 95%; 
    }
    section.valid-container img {
        width: 90vw; 
    }

}
